@import "../../colors/colors.scss";

nav {
  height: 30px;
  width: 100%;
  background-color: $background-color;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;

  & ul {
    display: flex;
    list-style: none;

    & li {
      margin-right: 20px;
    }
  }
}
