@import "../colors/colors.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Code Pro", monospace;
  background-color: #b0a9a9;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #6187d8;
  transition: 0.3s;
}

h1 {
  font-weight: bolder;
}

section + h1 {
  color: $primary-color;
  text-align: center;
}

.links:hover {
  color: $secondary-color;
  border-color: $primary-color;
  background-color: $primary-color;
  padding: 4px;
  border-radius: 4px;
}
