form {
  width: 70%;
  height: 250px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  input {
    background-color: #c5deea;
    border: none;
    border-radius: 5px;

    &[type="text"]:focus,
    &[type="number"]:focus,
    & [type="email"]:focus {
      outline: none;
      box-shadow: 0 0 0 2px #4b86cb;
    }
  }

  .row1 {
    display: flex;
    width: 100%;
    height: 60px;
  }

  .row2,
  .row3,
  .row4 {
    display: flex;
    width: 100%;
    height: 60px;
    margin-top: -50px;
  }

  .fName {
    width: 55%;
    height: 60px;
    & input {
      width: 98%;
      padding: 5px;
    }
  }

  .surname {
    width: 23%;
    height: 60px;
    & input {
      width: 98%;
      padding: 5px;
    }
  }

  .age {
    width: 22%;
    height: 60px;
    & input {
      width: 98%;
      padding: 5px;
    }
  }

  .company {
    width: 40%;
    height: 60px;
    & input {
      width: 98%;
      padding: 5px;
    }
  }

  .username {
    width: 25%;
    height: 60px;
    & input {
      width: 98%;
      padding: 5px;
    }
  }

  .email {
    width: 35%;
    height: 60px;
    & input {
      width: 98%;
      padding: 5px;
    }
  }

  .address {
    width: 100%;
    height: 60px;
    & input {
      width: 99%;
      padding: 5px;
      border-radius: 5px;
    }
  }

  .city {
    width: 40%;
    height: 60px;
    & input {
      width: 98%;
      padding: 5px;
    }
  }

  .country {
    width: 25%;
    height: 60px;
    & input {
      width: 98%;
      padding: 5px;
    }
  }

  .postalcode {
    width: 35%;
    height: 60px;
    & input {
      width: 98%;
      padding: 5px;
    }
  }
}
