* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
}
/* NAVIGATION */
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 100vh;
  background-color: #4b86cb;
  color: white;
}

.links {
  display: flex;
}

p {
  cursor: pointer;
}

.link p:hover {
  scale: 1.1;
}

.icons {
  display: flex;
  flex-direction: column;
  margin: 8px auto;
}

nav h2 {
  margin: 10px auto;
  text-transform: capitalize;
}

hr {
  margin-bottom: 10px;
  color: #85b4df;
  width: 100%;
}

nav p {
  margin: 20px auto;
}

i {
  margin-top: 12px;
  margin-bottom: 13px;
  margin-right: 10px;
}

/* MEMBERS*/
.stats {
  width: 80%;
  height: 100vh;
  background-color: #fbf8f3;
}

.stats h1 {
  text-align: center;
  color: #4b86cb;
  text-transform: capitalize;
  margin-top: 40px;
  margin-bottom: 10px;
}

.stats hr {
  width: 97%;
  margin-left: 10px;
  color: #eeeff1;
}

.members {
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
}

.members tr:nth-child(even) {
  background-color: #a0aec0;
  padding: 2px;
}

.members th,
.members td {
  text-align: left;
  border: 1px solid #eeeff1;
  margin-left: 5px;
}

.members th {
  color: white;
  background-color: #4b86cb;
}

.members tr:hover {
  background-color: #4b86cb;
  color: white;
}

/* ADDITIONAL INFORMATION */
form {
  width: 70%;
  height: 250px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
input {
  background-color: #c5deea;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px #4b86cb;
}

input[type="number"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px #4b86cb;
}

input[type="email"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px #4b86cb;
}

.row1 {
  display: flex;
  width: 100%;
  height: 60px;
}

.row2,
.row3,
.row4 {
  display: flex;
  width: 100%;
  height: 60px;
  margin-top: -50px;
}

.fName {
  width: 55%;
  height: 60px;
}

.fName input {
  width: 98%;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.surname {
  width: 23%;
  height: 60px;
}

.surname input {
  width: 98%;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.age {
  width: 22%;
  height: 60px;
}

.age input {
  width: 98%;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.company {
  width: 40%;
  height: 60px;
}

.company input {
  width: 98%;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.username {
  width: 25%;
  height: 60px;
}

.username input {
  width: 98%;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.email {
  width: 35%;
  height: 60px;
}

.email input {
  width: 98%;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.address {
  width: 100%;
  height: 60px;
}

.address input {
  width: 99%;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.city {
  width: 40%;
  height: 60px;
}

.city input {
  width: 98%;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.country {
  width: 25%;
  height: 60px;
}

.country input {
  width: 98%;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.postalcode {
  width: 35%;
  height: 60px;
}

.postalcode input {
  width: 98%;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

/* MEDIA QUERIES */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    flex-direction: column;
  }

  nav {
    height: 185px;
    width: 100%;
  }

  .icons {
    display: none;
  }

  .link {
    display: flex;
    flex-wrap: wrap;
  }

  .stats {
    width: 100%;
    height: 200px;
  }

  .row1,
  .row2,
  .row3,
  .row4 {
    flex-direction: column;
    height: auto;
    margin-top: auto;
  }

  input {
    width: 100%;
  }

  .fName,
  .surname,
  .age,
  .company,
  .username,
  .email,
  .address,
  .city,
  .country,
  .postalcode {
    width: 100%;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
  body {
    flex-direction: column;
  }

  nav {
    height: 185px;
    width: 100%;
  }

  .icons {
    display: none;
  }

  .link {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
  }

  .stats {
    width: 100%;
    height: 200px;
  }

  .row1,
  .row2,
  .row3,
  .row4 {
    flex-direction: column;
    height: auto;
    margin-top: auto;
  }

  input {
    width: 100%;
  }

  .fName,
  .surname,
  .age,
  .company,
  .username,
  .email,
  .address,
  .city,
  .country,
  .postalcode {
    width: 100%;
  }
}

@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  body {
    height: 100vh;
  }
}
